<h2>Problem edit page</h2>
<form action="/admineditproblem" method="post" id="admineditproblem">
    <h5>Name</h5>
    <textarea  name="name" rows="1">{{cureditproblem.name}}</textarea>
    <h5>Code</h5>
    <textarea  name="code" rows="1">{{cureditproblem.code}}</textarea>
    <h5>Difficulty</h5>
    <textarea  name="difficulty" rows="1">{{cureditproblem.difficulty}}</textarea>
    <h5>Statement</h5>
    <textarea  name="statement" rows="4" cols="50">{{cureditproblem.statement}}</textarea>
    <h5>Constraints</h5>
    <textarea  name="constraints" rows="3" cols="50">{{cureditproblem.constraints}}</textarea>
    <h5>Time limit</h5>
    <textarea  name="timelimit" rows="1">{{cureditproblem.timelimit}}</textarea>
    <h5>Sample Input</h5>
    <textarea  name="sampleinput" rows="4" cols="50">{{cureditproblem.sampleinput}}</textarea>
    <h5>Sample Output</h5>
    <textarea  name="sampleoutput" rows="4" cols="50">{{cureditproblem.sampleoutput}}</textarea>
    <h5>Hidden Input</h5>
    <textarea  name="hiddeninput" rows="4" cols="50">{{cureditproblem.hiddeninput}}</textarea>
    <h5>Hidden Output</h5>
    <textarea  name="hiddenoutput" rows="4" cols="50">{{cureditproblem.hiddenoutput}}</textarea>
    <h5>Tags</h5>
    <textarea  name="tags" rows="2" cols="40">{{cureditproblem.tags}}</textarea>
    <button type="submit" name="submit">Submit</button>
</form>