<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verdict</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/codemirror.css">
  <link rel="stylesheet" href="/css/verdict.css">
</head>

<body>
  <!--Navigation Bar starts -->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand"><img src="images/logo.png" style="width:80%; height:70%"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=#navbarResponsive>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id=navbarResponsive>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ranklist">Ranklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recent">Recent</a>
            </li>
          </ul>
          {{#if curuser}}
          <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown my-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{curuser.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile/{{curuser.username}}" value="{{curuser.username}}">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
          {{else}}
          <ul class="navbar-nav mr-4">
            <li class="nav-item dropdown my-auto"><a href="/enter">Login</a></li>
            <li class="nav-item dropdown my-auto"><a href="/enter">Register</a></li>
          </ul>
          {{/if}}
        </div>
      </div>
    </nav>
    <!--Navigation Bar ends -->
    <div class="row">
        {{msg}}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
      </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
      </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
      </script>
</body>

</html>