<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rank_List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/ranklist.css">
</head>

<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand"><img src="images/logo.png" style="width:80%; height:70%"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=#navbarResponsive>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id=navbarResponsive>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ranklist">Ranklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recent">Recent</a>
            </li>
          </ul>
          {{#if curuser}}
          <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown my-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span><i class="fa fa-user"></i></span>
                {{curuser.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile/{{curuser.username}}" value="{{curuser.username}}">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
          {{else}}
          <ul class="navbar-nav mr-4">
            <li class="nav-item dropdown my-auto"><a href="/enter">Login</a></li>
            <li class="nav-item dropdown my-auto"><a href="/enter">Register</a></li>
          </ul>
          {{/if}}
        </div>
      </div>
    </nav>
  </section>
  <div class="wrapper">
    <h3 style="color: #176AF7;font-family: Cambria, Georgia, serif;"> <b>Rankings</b></h3>
    <div class="table-responsive-lg" style="padding-left:3%;padding-right:3%;padding-top:1%;">
      <table class="table table-light table-hover">
        <thead>
          <tr bgcolor="#66B2FF">
            <th scope="col">#</th>
            <th scope="col">Handle</th>
            <th scope="col">Total</th>
            <th scope="col">C</th>
            <th scope="col">C++</th>
            <th scope="col">Java</th>
            <th scope="col">Python</th>
            <th scope="col">Algorithm</th>
            <th scope="col">Data Structure</th>
          </tr>
        </thead>
        <tbody>
          {{#each user}}
          <tr>
            <th scope="row">{{math @index "+" 1}}</th>
            <td>
              <a href="/profile/{{username}}" value="{{username}}">{{username}}</a>
            </td>
            <td>{{totalsolvecount}}</td>
            <td>{{csolvecount}}</td>
            <td>{{cppsolvecount}}</td>
            <td>{{javasolvecount}}</td>
            <td>{{pysolvecount}}</td>
            <td>{{algosolvecount}}</td>
            <td>{{dssolvecount}}</td>
          </tr>
          {{else}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="footer">
    <div class="d-flex" style="background-color: #1a53ff;margin-top:15px">
      <div class="mr-auto p-2">
        <h5><a style="color : #fff ; margin-left:10px"> &copy;2020 codebie</a></h5>
      </div>
      <div class="p-2"><a style="color : #fff" href="#">Privacy Policy</a></div>
      <div class="vl"></div>
      <div class="p-2" style="margin-right:10px"><a style="color : #fff" href="#">About Us</a></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>