<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem_List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/section.css">
</head>

<body style=" background-color:#F0F8FF;">
  <section id="nav-bar">
    <nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
      <div class="container-fluid">
        <a href="/home" class="navbar-brand"><img src="/images/logo.png" style="width:80%; height:70%"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=#navbarResponsive>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id=navbarResponsive>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ranklist">Ranklist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recent">Recent</a>
            </li>
          </ul>
          {{#if curuser}}
          <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown my-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span><i class="fa fa-user"></i></span>
                {{curuser.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile/{{curuser.username}}" value="{{curuser.username}}">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
          {{else}}
          <ul class="navbar-nav mr-4">
            <li class="nav-item dropdown my-auto"><a href="/enter">Login</a></li>
            <li class="nav-item dropdown my-auto"><a href="/enter">Register</a></li>
          </ul>
          {{/if}}
        </div>
      </div>
    </nav>
  </section>

  <div class="container mt-5">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-tutorial-tab" data-toggle="pill" href="#pills-tutorial" role="tab"
          aria-controls="pills-tutorial" aria-selected="true">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-problem-tab" data-toggle="pill" href="#pills-problem" role="tab"
          aria-controls="pills-problem" aria-selected="false">Problems</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-tutorial" role="tabpanel" aria-labelledby="pills-tutorial-tab">
        <div class="row">

          <form class="d-flex col-lg-9 col-xl-9">
            <div class="col-lg-12 col-xl-12">
              <!-- Card design -->
              {{#each curtutorials}}
              <div class="card mt-2">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-lg-9 col-xl-9">
                      <h5 class="card-title">{{name}}</h5>
                    </div>
                    <div class="col-lg-3 col-xl-3 my-auto text-right align-items-center">
                      <a href="/tutorials/{{code}}" value="{{code}}" class="btn btn-outline-primary btn-block btn-border"
                        id="btn-solve">Read</a>
                    </div>
                  </div>
                </div>
              </div>
              {{else}}
              <h1>Empty</h1>
              {{/each}}
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-problem" role="tabpanel" aria-labelledby="pills-problem-tab">
        <div class="row">
          <div class="col-lg-9 col-xl-9">
            {{#each curnotsolvedproblems}}
            <div class="card mt-4">
              <div class="card-body card-design">
                <div class="row">
                  <div class="col-lg-9 col-xl-9">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="badge badge-secondary"> Total Solved: {{solvecount}}</p>
                    {{#ifCond difficulty '==' 1}}
                        <p class="badge badge-success">Easy</p>
                    {{/ifCond}}
                    {{#ifCond difficulty '==' 2}}
                        <p class="badge badge-warning">Medium</p>
                    {{/ifCond}}
                    {{#ifCond difficulty '==' 3}}
                        <p class="badge badge-danger">Hard</p>
                    {{/ifCond}}
                  </div>
                  <div class="col-lg-3 col-xl-3 my-auto text-right align-items-center">
                    <a href="/problems/{{code}}" value="{{code}}" class="btn btn-outline-primary btn-block btn-border"
                      id="btn-solve">Solve
                      Challenge</a>
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            {{/each}}
            {{#each cursolvedproblems}}
            <div class="card mt-4">
              <div class="card-body card-design">
                <div class="row">
                  <div class="col-lg-9 col-xl-9">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="badge badge-secondary"> Total Solved: {{solvecount}}</p>
                    {{#ifCond difficulty '==' 1}}
                        <p class="badge badge-success">Easy</p>
                    {{/ifCond}}
                    {{#ifCond difficulty '==' 2}}
                        <p class="badge badge-warning">Medium</p>
                    {{/ifCond}}
                    {{#ifCond difficulty '==' 3}}
                        <p class="badge badge-danger">Hard</p>
                    {{/ifCond}}
                  </div>
                  <div class="col-lg-3 col-xl-3 my-auto text-right align-items-center">
                    <a href="/problems/{{code}}" value="{{code}}" class="btn btn-outline-primary btn-block btn-border"
                      id="btn-solve">Solved</a>
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="d-flex" style="background-color: #1a53ff;margin-top:15px">
      <div class="mr-auto p-2">
        <h5><a style="color : #fff ; margin-left:10px"> &copy;2020 codebie</a></h5>
      </div>
      <div class="p-2"><a style="color : #fff" href="/privatepolicy">Privacy Policy</a></div>
      <div class="vl"></div>
      <div class="p-2" style="margin-right:10px"><a style="color : #fff" href="/aboutus">About Us</a></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>