<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verdict</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/codemirror.css">
</head>
<body>
  <!--Navigation Bar starts -->
            <section id="nav-bar">
              <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
                  <a href="home" class="navbar-brand"><img src="images/logo.png" style="width:80%; height:70%"></a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=#navbarResponsive>
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id=navbarResponsive>

                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Practice<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="ranklist">Ranklist</a>
                      </li>
                    </ul>
                    <ul class="navbar-nav mr-5">
                      <div class="dropdown" style="float: right; padding: 13px">
                        <a href="#" onclick="return false;" role="button" data-toggle="dropdown" id="dropdownMenu1"
                          data-target="#" style="float: left" aria-expanded="true">
                          <i class="fa fa-bell-o" style="font-size: 20px; float: left; color: black">
                          </i>
                        </a>
                        <span class="badge badge-danger badge-notification">6</span>
                        <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu" aria-labelledby="dropdownMenu1">
                          <h6 class="text-center mb-2">Notifications</h6>
                          <ul class="timeline timeline-icons timeline-sm" style="margin:10px;width:210px">
                            <li>
                              <p> <span>hello world</span> </p>
                            </li>
                            <li>
                              <p> <span>hello bangladesh</span> </p>
                            </li>
                          </ul>
                          <li role="presentation">
                            <a href="#" class="dropdown-menu-header"></a>
                          </li>
                        </ul>
                      </div>
                      <li class="nav-item dropdown my-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <span><i class="fa fa-user"></i></span>
                          {{curuser.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Profile</a>
                          <a class="dropdown-item" href="#">Settings</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
<!--Navigation Bar ends -->
<div class="row">
  <div class="col-lg-4 col-xl-4">
  </div>
  <div class="col-lg-4 col-xl-4">
    <img src="{{image}}" style="padding-left:4%;height:460px;">
    <h3 style="padding-left:12%;font-family: Cambria, Georgia, serif; " ><b>   {{verdict}}</b></h3>
    <h5><p style="padding-left:22%;color:#00BFFF;">Time : {{curoutput.time}} s</p></h5>
    <h5><p style="padding-left:22%;color:#00BFFF;">Memory : {{curoutput.memory}} kb</p></h5>

  </div>
  <div class="col-lg-4 col-xl-4">
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>